## LINKACE CONFIGURATION

## Basic app configuration
# The app key is generated later, please leave it like that
APP_KEY=__SECRET__

## Configuration of the database connection
DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=__DB_NAME__
DB_USERNAME=__DB_USER__
DB_PASSWORD="__DB_PWD__"
