## LINKACE CONFIGURATION

## Basic app configuration
# The app key is generated later, please leave it like that
APP_KEY=__SECRET__
APP_ENV=production
APP_DEBUG=false
APP_URL=https://__DOMAIN__
APP_FORCE_HTTPS=false
ASSET_URL=https://__DOMAIN__

## Configuration of the database connection
DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=__DB_NAME__
DB_USERNAME=__DB_USER__
DB_PASSWORD="__DB_PWD__"

## Redis cache configuration
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=__REDIS_DB__
